<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="Industrial_computer">

    <xacro:macro name="Industrial_computer" params="computer_x computer_y computer_z">

        <!-- Spawn the sensor arch link -->
        <link name="Industrial_computer_link" params="computer_x computer_y computer_z">
             <origin xyz="0 0 0" rpy="0 0 0"/>
             <visual>
                 <geometry>
                     <box size="0.2 0.15 0.025"/>
                 </geometry>
                 <material name="black">
                    <color rgba="1.0 1.0 1.0 0.0"/>
                 </material>
             </visual>
             <collision>
                 <origin xyz="0 0 0" rpy="0 0 0"/>
                 <geometry>
                        <box size="0.2 0.15 0.025"/>
                    </geometry>
             </collision>
        </link>

        <!-- Attach the sensor arch to the top plate -->
        <joint name="Industrial_computer_joint" type="fixed">
             <parent link="base_link"/>
             <child link="Industrial_computer_link"/>
             <origin xyz="${computer_x} ${computer_y} ${computer_z}"
             rpy="0 0 0"/>
        </joint>

        <gazebo reference="Industrial_computer_link">
            <material>Gazebo/Black</material>
        </gazebo>

    </xacro:macro>

    <xacro:Industrial_computer computer_x="0.02" computer_y ="0.0" computer_z = "0.13"/>
</robot>
